:root {
    --color-title: #FCFCFC;
    --color-text: #9CA3AF;
    --color-text-geral: #E8E8E8;
    --border-bottom-color: #EDEDED;
    --border-input: #374151;
    --color-button: #9333EA;
    
    background-color: #1C1A20;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}